$black: hsl(0, 0%, 0%);
$blue: rgb(30, 50, 85);
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$white: hsl(0, 0%, 100%);


* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.content {
    width: 100vw;
    height: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 1rem black;
    border-bottom: 1px solid white;
    z-index: 5;
    
    
    h1  {
        color: $white;
        font-size: 1.75rem;
        font-weight: 400;
    }

    /* FORM STYLES  */

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        #ip-input {
            height: 4rem;
            width: 17rem;
            font-size: 1.5rem;
            border: none;
            border-top-left-radius: .85rem;
            border-bottom-left-radius: .85rem;
            padding-left: 1.5rem;

            &::placeholder {
                font-size: .85rem;
                color: $blue;
                opacity: .75;
            }

            &:hover {
                cursor: pointer;
            }
        }

        #submit-btn {
            height: 4rem;
            width: 4rem;
            border: none;
            border-top-right-radius: .85rem;
            border-bottom-right-radius: .85rem;
            background-color: $blue;

            &:hover {
                cursor: pointer;
            }
        }
    }

    /* RESULT CONTAINER STYLES  */

    .results {
        background-color: $white;
        opacity: .95;
        padding: 1rem 0;
        width: 21rem;
        height: 22rem;
        border-radius: .85rem;
        position: absolute;
        top: 10rem;
        z-index: 10;
        display: none;

        .result-container {
            height: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .result-label {
                font-size: .75rem;
                color: $blue;
                opacity: .75;
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            .result {
                font-size: 1.5rem;
                font-weight: 500;
                margin: 0;
                color: $blue;
                opacity: 1;
            }

            .shrink {
                font-size: 1.25rem;
            }
        }
    }

    .show {
        display: block;
    }
}

/* MAP STYLES */

#map {
    height: 80vh;
    width: 100%;
    z-index: 1;
}






/*  RESPONSIVE STYLES  */

@media only screen and (min-width: 1440px) {
    .content {
        height: 17rem;
        
        h1  {
            font-size: 2rem;
            color: $blue;
            font-weight: 600;
        }


        /* FORM STYLES */
        form {
            #ip-input {
                width: 30rem;
                font-size: 1.5rem;

                &::placeholder {
                    font-size: 1.25rem;
                }
            }
        }

        /* RESULTS CONTAINER STYLES  */
        .results {
            width: 70rem;
            height: 10rem;
            display: none;
            justify-content: space-evenly;
            top: 12rem;
            box-shadow: 0 4px 3rem -1rem rgba(0, 0, 0, 0.829);
    
            .result-container {
                height: 100%;
                width: 25%;
                align-items: flex-start;
                padding: 1.5rem 2rem;
                position: relative;

                &:nth-of-type(1):after, &:nth-of-type(2):after, &:nth-of-type(3):after {
                    content: "";
                    background: rgb(235, 235, 235);
                    position: absolute;
                    bottom: 2.5rem;
                    right: 0;
                    height: 50%;
                    width: 3px;
                }
    
                .result-label {
                    font-size: 1rem;
                    font-weight: 500;
                    height: 20%;
                    margin-top: 0;
                }
    
                .result {
                    font-size: 1.85rem;
                    font-weight: 500;
                    height: 80%;
                }

                .shrink {
                    font-size: 1.5rem;
                }
            }
        }

        .show {
            display: flex;
        }
    }
}


