$bg-main: hsl(0, 0%, 100%);
$text-main: rgb(30, 50, 85);

$font-headers: 'Oswald', sans-serif;
$font-body: 'Source Sans Pro', sans-serif;


* {
    box-sizing: border-box;
}

body {
    font-family: $font-body;
    width: 100%;
    margin: 0;
    color: $text-main;

    h1, h2 {
        font-family: $font-headers;
    }

}

main {
    display: flex;
    flex-direction: column;
}

.content {
    width: 100vw;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/banner.png");
    border-bottom: 1px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 1rem black;
    z-index: 5;
    
    h1  {
        color: $bg-main;
        font-weight: 400;
        background: linear-gradient(#22222220, #222222);
        padding: .5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 2.6rem;
    }

    /* FORM STYLES  */

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        #ip-input {
            height: 3rem;
            width: 17rem;
            font-size: 1.5rem;
            border: none;
            border-top-left-radius: .75rem;
            border-bottom-left-radius: .75rem;
            padding: .25rem .25rem .25rem 1rem;

            &::placeholder {
                font-family: $font-body;
                font-size: .85rem;
                color: $text-main;
                opacity: .5;
            }

            &:hover {
                cursor: pointer;
            }
        }

        #submit-btn {
            height: 3rem;
            width: 3rem;
            border: none;
            border-top-right-radius: .75rem;
            border-bottom-right-radius: .75rem;
            background-color: $text-main;
            transition: all 150ms linear;

            &:hover {
                cursor: pointer;
                background-color: $bg-main;
                color: $text-main;

                svg {
                    path {
                        stroke: $text-main;
                    }
                }
            }
        }
    }

    /* RESULT CONTAINER STYLES  */

    .results {
        background-color: $bg-main;
        padding: .5rem;
        width: 21rem;
        height: 22rem;
        border-radius: .85rem;
        position: absolute;
        top: 14rem;
        z-index: 10;
        display: none;

        .result-container {
            height: 25%;
            text-align: center;
            padding: .5rem;

            .result-label {
                font-size: .75rem;
                font-weight: 500;
                opacity: .75;
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            .result {
                font-size: 1.5rem;
                font-weight: 300;
                margin: 0;
                opacity: 1;
                letter-spacing: 1px;
            }

            .shrink {
                font-size: 1.25rem;
            }
        }
    }

    .show {
        display: block;
    }
}

/* MAP STYLES */

#map {
    height:88vh;
    width: 100%;
    z-index: 1;
}


/*  RESPONSIVE STYLES  */

@media only screen and (min-width: 1440px) {
    .content {
        height: 17rem;

        /* FORM STYLES */
        form {
            #ip-input {
                width: 30rem;
                height: 4rem;
                font-size: 1.5rem;

                &::placeholder {
                    font-size: 1.25rem;
                }
            }

            #submit-btn {
                height: 4rem;
                width: 4rem;
            }
        }

        /* RESULTS CONTAINER STYLES  */
        .results {
            width: 70rem;
            height: 11rem;
            display: none;
            box-shadow: 0 4px 3rem -1rem rgba(0, 0, 0, 0.829);
    
            .result-container {
                height: 100%;
                width: 25%;
                padding: 1.5rem 2rem;
                position: relative;

                &:nth-of-type(1):after, &:nth-of-type(2):after, &:nth-of-type(3):after {
                    content: "";
                    background: rgb(235, 235, 235);
                    position: absolute;
                    bottom: 2.5rem;
                    right: 0;
                    height: 50%;
                    width: 3px;
                }
    
                .result-label {
                    font-size: 1.25rem;
                    margin-top: 0;
                }
    
                .result {
                    font-size: 1.85rem;
                    height: 80%;
                }

                .shrink {
                    font-size: 1.5rem;
                }
            }
        }

        .show {
            display: flex;
        }
    }
}


